<html lang="en">
    <%- include('./partials/head')%>

<body>
    <%- include('./partials/header'); %>

    <section class="productos">
        <% for (let i = 0; i <producto.length; i++){ %>
        <ul  class="caja-producto">
            <li  class="imagen"><img src="<%= producto[i].img1 %>"></li>
            <li class="nombre-producto"><%= producto[i].name %> </li>
            <li class="precio"><%= producto[i].precio  %> </li>
        </ul>
        <% } %> 
    </section>
    <%- include('./partials/footer'); %>
</body>
</html>