<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/header'); %>
    <section class="todas-las-descripciones">
        <section class="primer-bloque">
            <img src="/img/macarons.jpg" alt="producto">
            <section class="datos-productos">
                <div class="titulos">
                    <p><%= producto.name %></p>
                </div>
                <div class="informacion">
                    <p> <%= producto.description %></p>
                </div>
                <div class="precio">
                    <span> <%= producto.precio %> </span>
                </div>
                <div class="carrito">
                    <div class="compras">
                        <button class="emogi"><i class="fa-solid fa-minus"></i></button>
                        <input class="numero" type="number">
                        <button class="emogi"><i class="fa-solid fa-plus"></i></button>
                        <button><i class="fa-solid fa-person-carry-box"></i></button>
                    </div>
                    <a class="añadir" href="/productCart">Añadir al carrito</a>
                </div>
                <div class="links">
                    <a class="link" href="#">Customizar pedido</a>
                </div>
            </section>
        </section>
        <section class="segundo-bloque">
            <div class="datos-productos">
                <div class="titulos">
                    <p>Descripción del producto</p>
                </div>
                <div class="informacion">
                    <p><%= producto.description %></p>
                </div>
                <div class="titulos">
                    <p>Consejos</p>
                </div>
                <div class="informacion">
                    <p><%= producto.consejos %></p>
                </div>
            </div>
            <img src="/img/macarons2.jpg" alt="otra foto del producto">
        </section>
        <section class="tercer-bloque">
            <div class="datos-productos">
                <div class="titulos">
                    <p>Entrega</p>
                </div>
                <div class="informacion">
                    <p><%= producto.entrega %></p>
                </div>
                <div class="titulos">
                    <p>Reclamos</p>
                </div>
                <div class="informacion" >
                    <p><%= producto.reclamos %></p>
                </div>
            </div>
            <img src="/img/macarons3.jpg" alt="otra foto del producto">
            </section>
    
    </section>
    
    <%- include('./partials/footer'); %> 
</body>
</html>