<html lang="en">
    <%- include('./partials/head')%>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <section class="Titulo">
        <p>Nuestos productos</p>
    </section>
    <section class="productos">
        <% for (let i = 0; i <producto.length; i++){ %>
        <a href="/productDetail/<%= producto[i].id %>"><ul  class="caja-producto">
            <li  class="imagen"><img src="<%= producto[i].img1 %>"></li>
            <li class="nombre-producto"><%= producto[i].name %> </li>
            <li class="precio"><%= producto[i].precio  %> </li>
        </ul></a>
        <% } %> 
    </section>
    <%- include('./partials/footer'); %>
</body>
</html>