<html lang="en">
    <%- include('../partials/head')%>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <section class="Titulo">
        <p>Nuestos productos</p>
    </section>
    <section class="productos">
        <% for (let i = 0; i <productCategory.length; i++){ %>
        <a href="/productDetail/<%= productCategory[i].id %>"><ul  class="caja-producto">
            <li  class="imagen"><img src="<%= productCategory[i].img1 %>"></li>
            <li class="nombre-producto"><%= productCategory[i].name %> </li>
            <li class="precio"><%= productCategory[i].precio  %> </li>
        </ul></a>
        <% } %> 
    </section>
    <%- include('../partials/footer'); %>
</body>
</html>