<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %> 
<body>
    <%- include('../partials/header'); %> 
    <main>
        <div class="cart">
            <% if(list.length === 0){ %>
                <h2>No hay elementos en el carrito</h2>
            <% } else { %>
                <ul class="product-list">
                    <li>
                        <% list.map( p => { %> 
                            <img src="<%= p.img %>">
                            <span class="nombre-producto"><%= p.name %> </span>
                            <span class="precio-producto">$<%= p.precio  %> </span>
                            <div class="control">
                                <button class="dec">-</button>
                                <span class="cantidad"><%= p.cantidad %></span>
                                <button class="inc">+</button>
                            </div>
                            <button class="eliminar">X</button>
                        <% }); %>
                    </li>
                </ul>
            <% } %>
        </div>
    </main>
    <script src="/js/cart.js"></script>
</body>
</html>