<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
    <body>
        <%- include('../partials/header'); %>
        <main>
            <div class="cart">
                <% if(list.length === 0){ %>
                <h2>No hay elementos en el carrito</h2>
        
                <% } else { %>
                <ul class="product-list">
                    <h2>Mi carrito</h2>
                    <% let total = 0; list.map( p => { %>
                    <li>
                        <a href="/products/<%= p.id%>"><img src="<%= p.img %>" /></a>
                        <span class="nombre-producto"><a href="/products/<%= p.id%>"><%= p.name %></a></span>
                        <span class="precio-producto"
                            >subtotal: $<%= p.cantidad == 0 ? p.precio : p.precio *p.cantidad %>
                        </span>
                        <div class="control">
                            <button id="boton-menos" class="dec">-</button>
                            <span id="cantidad" class="cantidad"
                                ><%= p.cantidad %></span
                            >
                            <button id="boton-mas" class="inc">+</button>
                            <button id="eliminar" class="eliminar">X</button>
                        </div>
                        <% total = total + p.precio * p.cantidad}); %>
                    </li>
                    <span id="total">Total de la compra $<%= total %></span>
                    <button id="comprar">Terminar compra</button>
                    <button id="comprar"><a href="/products">Seguir comprando</a></button>
                </ul>
                <% } %>
            </div>
        </main>
        <script src="/js/cart2.js"></script>
        <%- include('../partials/footer') %> 
    </body>
    </html>
